// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.errors {
  background-color: #FF6363;
  border-radius: 0.25rem;
  padding: 20px;
}

ul {
  margin: 0;
}