<template>
    <div class="container">
        <h2 class="text-center">Редактор заявок</h2>
        <div class="row">
            <div class="col-md-12">
                <router-link :to="{ name: 'BidsCreate' }" class="btn btn-primary btn-sm float-right mb-2">Добавить заявку</router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Дата</th>
                        <th>Организация</th>
                        <th>Заявитель</th>
                        <th>Наименование</th>
                        <th>Статус</th>
                        <th>Приоритет</th>
                        <th>Исполнитель</th>
                        <th>Примечание</th>
                        <th>Опции</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(bid, key) of bids" v-bind:key="key">
                            <td>{{ key+1 }}</td>
                            <td>{{ getDate(bid.created_at) }}</td>
                            <td>{{ bid.firm }}</td>
                            <td>{{ bid.declarer }}</td>
                            <td>{{ bid.title }}</td>
                            <td>{{ bid.status }}</td>
                            <td>{{ bid.priority }}</td>
                            <td>{{ bid.executor }}</td>
                            <td>{{ bid.note }}</td>
                            <td>
                                <router-link class="btn btn-success btn-sm" :to="{ name: 'BidsEdit', params: { bidId: bid.id }}">Редакт.</router-link>
                                <button class="btn btn-danger btn-sm" @click="deleteBid(bid.id)">Удалить</button>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                bids: {}
            }
        },
        created() {
            this.getBids();
        },
        methods: {
            getBids() {
              this.axios.get('http://127.0.0.1:8000/api/bids')
                  .then(response => {
                      this.bids = response.data;
                  });
            },
            deleteBid(bidId) {
                this.axios
                    .delete(`http://127.0.0.1:8000/api/bids/${bidId}`)
                    .then(response => {
                        let i = this.bids.map(data => data.id).indexOf(bidId);
                        this.bids.splice(i, 1)
                    });
            },
            getDate(datetime) {
                let currentDate = new Date(datetime);
                return `${('0' + currentDate.getDate()).substr(-2)}-${('0' 
                    + (currentDate.getMonth() + 1)).substr(-2)}-${currentDate.getFullYear()} 
                    ${('0'+ currentDate.getHours()).substr(-2)}:${('0' + currentDate.getMinutes()).substr(-2)}`;
            }
        }
    }
</script>