<template>
    <div class="container">
        <h2 class="text-center">Добавить заявку</h2>
        <div class="row">
            <div class="col-md-12">
                <router-link :to="{ name: 'BidsIndex' }" class="btn btn-primary btn-sm float-right mb-2">Назад</router-link>
            </div>
        </div>
        <p v-if="errors.length" class="errors">
            <b>Пожалуйста исправьте указанные ошибки:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
        <div class="row">
            <div class="col-md-12">
                <form>
                   <div class="row">
                        <div class="col-sm-8 form-group">
                            <label class="control-label">Организация:</label>
                            <input type="text" v-model="bid.firm" class="form-control" name="firm"  id="firm">
                        </div>
                        <div class="col-sm-4 form-group">                
                            <label>Статус:</label>
                            <select v-model="bid.status" class="form-select">
                                <option v-for="status in statuses" v-bind:value="status">
                                    {{ status }}
                                </option>
                            </select>
                        </div>                        
                        <div class="col-sm-8 form-group">
                            <label class="control-label">Заявитель:</label>
                            <input type="text" v-model="bid.declarer" class="form-control">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Приоритет:</label>
                            <select  v-model="bid.priority" class="form-select">
                                <option v-for="priority in priorities" v-bind:value="priority">
                                    {{ priority }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Наименование:</label>
                            <input type="text" v-model="bid.title" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Исполнитель:</label>
                            <input type="text" v-model="bid.executor" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label>Примечание:</label>
                            <textarea type="text" rows="5" class="form-control" v-model="bid.note"></textarea>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" @click="createBid()">Создать</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                bid: {},
                statuses: ['Оценка', 'В работе', 'Реализовано'],
                priorities: ['Низкий', 'Средний', 'Высокий'],
                errors: []
            
            }
        },
        methods: {
            createBid() {
                if(this.checkForm() === true) return;
                this.axios.post('http://127.0.0.1:8000/api/bids', this.bid)
                    .then(response => (
                        this.$router.push({ name: 'BidsIndex' })
                    ))
                    .catch(err => console.log(err))
                    .finally(() => this.loading = false)
            },
            checkForm() {
                
                this.errors = [];
                if (!this.bid.firm) {
                    this.errors.push('Требуется указать организацию.');
                }
                if (!this.bid.declarer) {
                    this.errors.push('Требуется указать заявителя.');
                }
                if (!this.bid.title) {
                    this.errors.push('Требуется указать наименование.');
                }
                if (!this.bid.executor) {
                    this.errors.push('Требуется указать исполнителя.');
                }
                if (!this.bid.status) {
                    this.errors.push('Требуется указать статус.');
                }
                if (!this.bid.priority) {
                    this.errors.push('Требуется указать приоритет.');
                }
                if(this.bid.note !== undefined && this.bid.note !== null) {
                    if (this.bid.note.length > 255) {
                        this.errors.push('Примечание не должно превышать 255 символов');
                    }
                }
                if(this.errors.length > 0) return true;
                return false;
            }
        }
    }
</script>